* {
  margin: auto;
}
html {
  background-image: url("img/SR.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.logo {
  height: 100px;
  background: url("img/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0px 4%;
  width: auto;
  height: auto;
}
.button-menu{
    font-family:'Roboto Slab', serif;
    font-style: normal;
    font-size: 14px;
    text-align: center;
    color: #D6DEC0;
    background-color: rgb(21, 31, 27);
    border: 2px solid #7e8552;
    border-radius: 5px;
    outline: none;
    margin: 2px;
    padding: 0px;
    width: 70%;
    height: auto;
    cursor: pointer;
}
.button-menu::placeholder{
  color: #D6DEC0;
}
.main-box {
  background-color: rgba(21, 31, 27, 0.6);
  border: 2px solid #7e8552;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px 8%;
  width: auto;
  height: auto;
  padding: 3%;
}
.champ-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.champ-card {
  width: 110px;
  height: 125px;
  background-color: #7e8552;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 5px;
  border-radius: 5px;
  padding: 2% 2% 10%;
  cursor: pointer;
}
.champ-img {
  width: 100px;
  height: 100px;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.champ-name,.champ-percentage{
  justify-content: center;
  font-family: "Roboto Slab", serif;
  color: #d6dec0;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
/* Começo modal */
.modal-container {
  display: none;  
}
.show{
  display: flex; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-champ {
  font-family: "Roboto Slab", serif;
  background-color: rgb(21, 31, 27);
  border: 2px solid #7e8552;
  border-radius: 10px;
  padding: 20px;
  width: 65%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: fit-content;
}
.splash-art-image{
  position: relative;
  width: 100%;
  display: block;
}
.text-modal{
  color: mintcream;

}
.champ-content{
  padding: 0px 10px;
}
.info{
  width: 100%;
  margin: 0px;
  text-align: justify;
}
.info-box{
  background-color: rgb(8, 12, 10);
  border: 2px solid #7e8552;
  border-radius: 10%;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 17px;
}
.stats{
  width: 100%;
}
.btn-close {
  position: relative;
  float: right;
  padding: 0px;
  font-family:'Roboto Slab', serif;
  font-style: normal;
  color: rgb(0,0,0);
  font-size: 16px;
  width: 25px;
  height: 25px;
  border: 2px solid #7e8552;
  border-radius: 50%;
  background-color: rgb(255, 255,255);
  cursor: pointer;
}

@media only screen and (min-width: 768px){
  .logo{
      height: 120px;
      background-size: 250px;
  }
  .menu{
    background-color: rgba(21, 31, 27, 0.6);
    border: 2px solid #7e8552;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: row;
  }
  .button-menu{
    background-color:rgba(21, 31, 27, 0.0);
    border: none;
    margin: 0px;
    width: 25%;
    font-size: 28px;
  }
  .button-menu:hover{
      transition-duration: 0.3s;
      background-color: rgba(21, 31, 27, 0.5);
  }
  .main-box{
  padding: 1.5%;
  min-height: 500px;
  }
  .champ-card {
    margin: 2%;
    padding: 2% 2% 3%;
  }
  .show{
    display: flex; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
  }
  .modal-champ {
    padding: 20px;
    width: 65%;
  }
  .champ-content{
    display: flex;
    padding: 0px 10px;
    text-align: justify;
  }
  .info{
    width: 50%;
    margin: 0px;
  }
  .info-box{
    font-size: 20px;
  }
  .stats{
    width: 50%;
    padding-left: 30px;
    margin: 0px;
  }
  .btn-close {
    font-size: 16px;
    width: 25px;
    height: 25px;
  }
  .btn-close:hover,.btn-close:focus {
    color: rgb(255, 255,255);
    background-color:rgb(0,0,0);;
  }
}
